 .cart-button{
display: flex;

 }

 .container-header{
  height: 200px;
  background-color: rgb(48, 45, 45);
 }

 .heading1{
  color: white;
  padding-top: 50px;
  
 }

 .heading2{
  padding-top: 10px;
  color: white;
 }

 .card{
  display: flex;
  gap: 2rem;
  margin: 25px
  ;
 }
 
 .card-container1{
  padding-top: 20px ;
 }

 body{
  color:#f0f8ff
 }

 .footer-heading2{
  padding-top: 10px;
  color: white;
 }
 .container-footer{
  height: 50px;
  
  background-color: rgb(48, 45, 45);
 }